@font-face {
  font-family: Karla;
  font-display: swap;
  src: local('Karla'),
    url('../../public/assets/fonts/Karla/Karla.woff') format('woff');
}

:root {
  font-family: 'Karla';
}

html {
  scroll-behavior: smooth;
}
