@font-face {
  font-family: Karla;
  font-display: swap;
  src: local('Karla'), url('/fonts/Karla/Karla.woff') format('woff');
}

@font-face {
  font-family: 'Mona-Sans';
  font-display: swap;
  src: local('Mona-Sans'), url('/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2');
}

:root {
  font-family: 'Karla';
}

html {
  scroll-behavior: smooth;
}
