@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: 3px solid var(--color-accent);
}

@layer base {
  :root {
    --color-primary: #f9fafb;
    --color-secondary: #111827;
    --color-primary-muted: #a3a3a3;
    --color-secondary-muted: #333;
    --color-accent: #6366f1;
  }

  .dark {
    --color-primary: #111;
    --color-secondary: #f9fafb;
    --color-primary-muted: #6b7280;
    --color-secondary-muted: #9ca3af;
    --color-accent: #60a5fa;
  }
}
